<!-- User Identity Block -->
<div class="menu-header">
  <div class="avatar-wrap">
    <ng-container *ngIf="currentUser; else guestAvatar">
      <img
        *ngIf="fileUpload.getUrl(profileImageUrl) as imgSrc"
        [src]="imgSrc"
        alt="Profile"
        class="avatar avatar-img"
      />
      <div *ngIf="!fileUpload.getUrl(profileImageUrl)" class="avatar">{{ userInitials }}</div>
    </ng-container>
    <ng-template #guestAvatar>
      <div class="avatar guest">
        <ion-icon name="person-outline" />
      </div>
    </ng-template>
  </div>

  <div class="user-info">
    <ng-container *ngIf="currentUser; else guestInfo">
      <p class="user-name">{{ displayedName }}</p>
      <span class="role-badge" *ngIf="roleBadgeKey">{{ roleBadgeKey | translate }}</span>
    </ng-container>
    <ng-template #guestInfo>
      <p class="user-name guest-label">{{ 'MENU.WELCOME' | translate }}</p>
    </ng-template>
  </div>
</div>

<div class="menu-divider"></div>

<!-- Navigation Items -->
<ion-list lines="none" class="menu-list">
  <ion-menu-toggle *ngFor="let item of visibleItems">
    <ion-item
      [routerLink]="item.route"
      routerLinkActive="active-item"
      detail="false"
      class="menu-item"
    >
      <ion-icon slot="start" [name]="item.icon" class="menu-icon" />
      <ion-label>{{ item.labelKey | translate }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<div class="menu-divider"></div>

<!-- Auth Actions -->
<div class="auth-actions">
  <ng-container *ngIf="currentUser; else loggedOut">
    <ion-menu-toggle>
      <button class="action-btn logout-btn" (click)="logout()">
        <ion-icon name="log-out-outline" />
        <span>{{ 'MENU.LOGOUT' | translate }}</span>
      </button>
    </ion-menu-toggle>
  </ng-container>

  <ng-template #loggedOut>
    <ion-menu-toggle>
      <button class="action-btn login-btn" (click)="navigate('/auth/login')">
        <ion-icon name="log-in-outline" />
        <span>{{ 'MENU.LOGIN' | translate }}</span>
      </button>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <button class="action-btn register-btn" (click)="navigate('/auth/register')">
        <ion-icon name="person-add-outline" />
        <span>{{ 'MENU.REGISTER' | translate }}</span>
      </button>
    </ion-menu-toggle>
  </ng-template>
</div>

<!-- Language Toggle -->
<div class="menu-divider"></div>
<div class="lang-toggle-wrap">
  <button class="action-btn lang-btn" (click)="toggleLanguage()">
    <ion-icon name="language-outline" />
    <span>{{ 'MENU.LANG_TOGGLE' | translate }}</span>
  </button>
</div>
